<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container">
    <% if(items.length === 0) { %>
        <p class="alert alert-danger">There is no items</p>
    <% } else { %>
    <div class="card mb-3" style="max-width: 540px;background-color:#F0F0F0;">
<form action="/cart" method="POST" class="add-to-cart-form">
																	
<input type="submit" value="Place your order" style="background-color:#FFDE71;width:100%;border-radius: 8px;">
																							
</form>
</div>
var total=0
      <% for (let i = 0; i < items.length; i++) { %>
      total+=<%=items[i].price%>
      <div class="card mb-3" style="max-width: 540px;background-color:#F0F0F0;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/<%= items[i].image %>"" style="width: 95%;hight:95%;" alt="<%= items[i].name %>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= items[i].name %></h5>
              <h5 class="card-title">Details</h5>
              <p class="card-text"><%=items[i].description%></p>
             
     
            </div>
 
          </div>

<div class=" container row" >

<div class="col-9">
<br>
<button onclick="myFunction1('<%= items[i]._id%>')" style="border-radius: 6px;width:10%">-</button>
<input id="<%= items[i]._id%>" type="number"  value="<%= items[i].amount %>"  style="width:20%;" >
<button onclick="myFunction('<%= items[i]._id%>')" style="border-radius: 6px;width:10%">+</button>
</div>
<div class="col-3">

<form method="POST">
   <br>            
                  
                <input type="submit"  style="border-radius: 6px;width:100%;background-color:white;color:black;" value="Delete" formaction="/cart/delete">
        
              </form>
</div>
</div>

        </div>
      </div>
      <% } %>
               
                <% } %>
<div class="card mb-3" style="max-width: 540px;background-color:#F0F0F0;">
    <div class="  row " >
<div class="col-6">
<p>Items(<%=items.length%>)
    </div> 
<div class="col-3">
<%=total%>$
    </div>

<div class="col-6">
<p>Shipping:</p>
    </div> 
<div class="col-3">
0$
    </div> 

<div class="col-6">
<p>Tax:</p>
    </div> 
<div class="col-3">
<%=total*0.05%>$
    </div>
<div class="col-6">
<p>Total:</p>
    </div> 
<div class="col-3">
<%=total+total*0.05%>$
    </div>

    </div> 

</div>
Ship to:
<div class="card mb-3" style="max-width: 540px;background-color:#F0F0F0;">
    <div class="  row " >
<div class="col-6">
<p>(<%=items.userId%>)</p>
    </div> 
<div class="col-3">
<%=total%>$

</div>
</div> 
</div>		
<%- include('parts/footer') %>
