<%- include('parts/header')%>
    <%- include('parts/navbar')%>

        <div id="demo" class="carousel slide container" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/1.jpg" style="height: 200px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/2.jpg" style="height: 200px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/3.jpg" style="height: 200px;" alt="...">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="container">

            <form class="filter" action="/" method="GET">
                <div class="row">
                    <div class="col col-md-10">
                        <select name="category" class="form-control">
                    <option value="all">All</option>
                    <option value="clothes">Clothes</option>
                    <option value="phones">Phones</option>
                    <option value="computers">Computers</option>
                </select>
                    </div>
                    <div class="col col-md-2">
                        <input type="submit" class="btn btn-primary" value="Filter">
                    </div>
                </div>
            </form>

            <% if(validationError) { %>
                <p class="alert alert-danger">
                    <%= validationError.msg%>
                </p>
                <% } %>

                    <% if(products.length === 0) { %>
                        <div class="alert alert-danger">
                            there is no products
                        </div>
                        <% } else { %>
                            <div class="row">
                                <% for(let product of products) { %>
                                    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="card" style="width: 100%;background-color:#F0F0F0">
                                            <div class="card-header">
                                                <div id="<%=product._id%>+demo" class="carousel slide container" data-ride="carousel">
                                                    <!-- Indicators -->
                                                    <ul class="carousel-indicators">
                                                        <%var i=0 %>
                                                            <%for (image of product.image){ %>
                                                                <% if (i===0){%>
                                                                    <li data-target="#<%=product._id%>+demo" data-slide-to="<%=i%>" class="active"></li>
                                                                    <%}else{%>
                                                                        <li data-target="#<%=product._id%>+demo" data-slide-to="<%=i%>"></li>
                                                                        <%}%>
                                                                            <%i++%>
                                                                                <%}%>
                                                    </ul>
                                                    <!-- The slideshow -->
                                                    <div class="carousel-inner">
                                                        <% i=0 %>
                                                            <%for (image of product.image){ %>
                                                                <% if (i===0){%>
                                                                    <div class="carousel-item active">
                                                                        <img src="/<%= product.image[i].filename%>" class="card-img-top" style="height: 200px;text-align: center;" alt="<%= product.image[i].originalname%>">
                                                                    </div>
                                                                    <%}else{%>
                                                                        <div class="carousel-item">
                                                                            <img src="/<%= product.image[i].filename%>" class="card-img-top" style="height: 200px;text-align: center;" alt="<%= product.image[i].originalname%>">
                                                                        </div>
                                                                        <%}%>
                                                                            <%i++%>
                                                                                <%}%>
                                                    </div>
                                                    <!-- Left and right controls -->
                                                    <a class="carousel-control-prev" href="#<%=product._id%>+demo" data-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#<%=product._id%>+demo" data-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <h5 class="card-title" style="font-size:15px;">
                                                            <a href="/product/<%= product._id%>">
                                                                <%= product.name%>
                                                            </a>
                                                            <p style="font-size:13px;">Price:
                                                                <%= product.price%> $</p>
                                                        </h5>
                                                    </div>
                                                    <div class="col-8">
                                                        <button class="btn-sm" onclick="myFunction1('<%= product._id%>')" style="border-radius: 6px;width:10%">-</button>
                                                        <input id="<%= product._id%>" type="number" value=0 style="width:50%;">
                                                        <button class="btn-sm" onclick="myFunction('<%= product._id%>')" style="border-radius: 6px;width:10%">+</button>
                                                    </div>
                                                </div>
                                                <form action="/cart" method="POST" class="add-to-cart-form">
                                                    <input id="<%= product._id%>+1" type="hidden" name="amount" value=0 class="form-control">
                                                    <input type="hidden" name="name" value="<%= product.name%>">
                                                    <input type="hidden" name="price" value="<%= product.price%>">
                                                    <input type="hidden" name="productId" value="<%= product._id%>">
                                                    <input type="hidden" name="image" value="<%= product.image[0].filename%>">
                                                    <input type="hidden" name="redirectTo" value="/">
                                                    <input type="submit" value="Add to cart" style="background-color:#FFDE71;width:100%;border-radius: 8px;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
        </div>

        <%- include('parts/footer')%>
