<%- include('parts/header') %>
    <%- include('parts/navbar') %>

        <div class="container">

            <% if(items.length === 0) { %>
                <p class="alert alert-danger">There is no items</p>
                <% } else { %>


                    <% for (let i = 0; i < items.length; i++) { %>




                        <div class="container">
                            <div class="card mb-3 " style="max-width: 540px;background-color:#F2FCFF; ">
                                <form action="/admin/orders/oneorder" method="post">
                                    <input type="hidden" name="id" value="<%= items[i]._id%>">
                                    <div class="row no-gutters ">
                                        <div class="col-md-4 ">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h3>
                                                    Order No:
                                                    <%= items[i].timestamp%>
                                                </h3>
                                                <h5 class="card-title">
                                                    <% for (let j = 0; j < items[i].orderlist.length; j++){%>
                                                        <p>
                                                            <a href="/product/<%= items[i].orderlist[j].id %>">
                                                                <%= items[i].orderlist[j].name%>
                                                            </a>
                                                        </p>
                                                        <%}%>
                                                </h5>
                                                <p>
                                                    Shipping status:
                                                    <%= items[i].status %>
                                                </p>
                                                <p>

                                                    Requested By:
                                                    <%= items[i].userId %>
                                                </p>

                                                <input type="hidden" name="orderid" value="<%= items[i]._id %>">
                                                <br>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">

                                        </div>
                                        <div class="col-2">
                                            <input type="submit" value=">">
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>


                        <% } %>


                            <% } %>

        </div>

        <%- include('parts/footer') %>