<%- include('parts/header') %>
    <%- include('parts/navbar') %>

        <div class="container">

            <% if(items.length === 0) { %>
                <p class="alert alert-danger">There is no items</p>
                <% } else { %>
                    <h5 style="background-color:  #8ED1E5;">Orders</h5>
        </div>

        <% for (let i = 0; i < items.length; i++) { %>
            <div class="container">

                <div class="card mb-3 " style="max-width: 540px;background-color:#F2FCFF; ">
                   <form  method="POST">
                        <input type="hidden" name="id" value="<%= items[i]._id%>">
                        <div class="row no-gutters ">
                            <div class="col-md-4 ">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3>
                                        Order No:
                                        <%= items[i].timestamp%>
                                    </h3>
                                    <h5 class="card-title">
                                        <% for (let j = 0; j < items[i].orderlist.length; j++){%>
                                            <p>
                                                <a href="/product/<%= items[i].orderlist[j].id %>">
                                                    <%= items[i].orderlist[j].name%>
                                                </a>
                                            </p>
                                            <%}%>
                                    </h5>
                                    <p>
                                        <%= items[i].status %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% if( items[i].pay){ %>
                       
                         <div class="row">
                            <div class="col-3">
                                <input type="submit" value="Pay" style="background-color:#FFDE71;width:100%;border-radius: 8px;" formaction="/pay">
                            </div>
                            <div class="col-3">
                               
                            </div>
                            <div class="col-3">
                                
                            </div>
                            <div class="col-3">
                                <input type="submit" value="Delete" style="background-color:#FFDE71;width:100%;border-radius: 8px;" formaction="/cancel"> 
                            </div>
                        </div>
    
                            <%}%>
                    </form>
                    <form action="/cancel" method="POST">
                       <input type="hidden" name="id" value="<%= items[i]._id%>">
                         <input type="submit" value="Delete" style="background-color:#FFDE71;width:100%;border-radius: 8px;"> 
                    </form>
                </div>

            </div>
            <% } %>


                <% } %>



                    <%- include('parts/footer') %>
