<%- include('parts/header')%>
    <%- include('parts/navbar')%>

        <div class="container">
            <% if(!product) { %>
                <div class="alert alert-danger">
                    there is no product matches this id
                </div>
                <% } else {%>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="card" style="width: 100%;">
                                <div class="card-header">

                                    <% for (let image of product.image){%>

                                        <div class="carousel-item active">
                                            <img src="/<%=image.filename%>" class="d-block w-100" alt="
                                            <%=image.originalname%>">
                                            <%}%>
                                        </div>


                                </div>

                            </div>
                            <div class="card-body">
                                <div class="col-8">
                                    <button class="btn-sm" onclick="myFunction1('<%= product._id%>')" style="border-radius: 6px;width:10%">-</button>
                                    <input id="<%= product._id%>" type="number" value=0 style="width:50%;">
                                    <button class="btn-sm" onclick="myFunction('<%= product._id%>')" style="border-radius: 6px;width:10%">+</button>
                                </div>
                                <form action="/cart" method="POST" class="add-to-cart-form">
                                    <input id="<%= product._id%>+1" type="hidden" name="amount" value=0 class="form-control">
                                    <input type="hidden" name="name" value="<%= product.name%>">
                                    <input type="hidden" name="price" value="<%= product.price%>">
                                    <input type="hidden" name="productId" value="<%= product._id%>">
                                    <input type="hidden" name="image" value="<%= product.image[0].filename%>">

                                    <input type="hidden" name="redirectTo" value="/">
                                    <input type="submit" value="Add to cart" style="background-color:#FFDE71;width:100%;border-radius: 8px;">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-6 product-detail">
                        <h3>
                            <%= product.name%>
                        </h3>
                        <h5>Price:
                            <%= product.price%> $</h5>
                        <p>
                            <%= product.description%>
                        </p>
                    </div>
        </div>
        <% } %>
            </div>

            <%- include('parts/footer')%>